{% extends 'master.html' %}
{% block content %}

<head>
    <title>{{ product.name }}</title>
    <style>
        img{
            width: 250px;
            height: 300px;
        }
    </style>
</head>
<div class="product">
    <h1>{{ product.name }}</h1>
    {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
    {% endif %}
    <p>{{ product.description }}</p>
    <p>Price: Rs{{ product.price }}</p>
    <p>rating : {{ product.rating }}</p>
    <a href="/">Back to store</a>
</div>

{% endblock %}