{% extends 'master.html' %}

{% block content %}
    {% load static %}
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <div class="subject">
        <h6>Computer Oriented Operation Research</h6>
        <p>
           Computer-oriented Operations Research (OR) utilizes 
           computational power to solve complex problems in various fields. 
           It involves using mathematical models, algorithms, and simulations 
           to optimize processes, improve efficiency, and make better decisions. 
           Computers are essential for handling the large datasets and intricate 
           calculations involved in modern OR applications.  
        </p>
    </div>
{% endblock %}