{% extends 'master.html' %}

{% block content %}
    {% load static %}
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <div class="subject">
        <h6>Data Communication and Computer Networks</h6>
        <p>
           Data communication and computer networks are fundamental 
           aspects of modern technology, enabling the exchange of 
           information between devices. Data communication refers to 
           the process of transferring data between two or more devices, 
           while computer networks are systems that facilitate this communication. 
           These networks can range from simple connections like a local area 
           network (LAN) to the vast expanse of the internet. 
        </p>
    </div>
{% endblock %}