{% extends 'master.html' %}

{% block content %}
    {% load static %}
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <div class="subject">
        <h6>Operating System</h6>
        <p>
           An Operating System (OS) is fundamental software that 
           manages a computer's hardware and software resources,
            acting as an interface between the user and the computer. 
            It handles tasks like memory management, file management, 
            process management, and input/output operations, enabling 
            smooth functioning of the computer and its applications. 
        </p>
    </div>
{% endblock %}